[submodule "reveal.js"]
	path = reveal.js
	url = git://github.com/hakimel/reveal.js
	branch = master
[submodule "qrcodejs"]
	path = qrcodejs
	url = git://github.com/davidshimjs/qrcodejs
	branch = master
[submodule "suse-cloud-vagrant"]
	path = suse-cloud-vagrant
	url = git://github.com/SUSE-Cloud/suse-cloud-vagrant
	branch = master
